<div ng-app="myApp" class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div class="card blue_bg shadow mt-login">
        <div class="card-body">
          <div class="landing_logo">
            <img [src]="logo" />
          </div>
          <div class="landing_btn mt-5">
            <div>
              <a 
                ><button type="button" class="login-btns">LOG IN</button></a
              >
            </div>
            <div class="my-3">
              <a 
                ><button type="button" class="login-btns">REGISTER</button></a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>

<footer class="py-5">
  <div class="container">
    <!-- <div class="d-flex align-items-center justify-content-between small grey-dark">
        <div class="text-muted"></div>
            <div class="text-muted"></div>
            <div>
                <input type="button" name="SAVE" class="ic-green-btn mx-3 mb-20" id="SAVE" value="SAVE">
                <input type="button" name="NEXT" class="ic-blue-btn-next mx-3 mb-20" id="NEXT" value="NEXT">
            </div>
        
      </div> -->
    <p class="text-center mb-0 copyright_content">
      Copyright &copy; 2022 . Inheritchain Inc.
    </p>
  </div>
</footer>


